fastapi
uvicorn[standard]
databases[sqlite]
sqlalchemy
pydantic[email]
python-dotenv
python-multipart
supabase
APScheduler
# Google Calendar API
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
google-genai
psycopg2-binary
tiktoken
anthropic
pywebpush
asyncpg
midtransclient
slowapi
python-dateutil
